body    /*body full screen*/
{
	margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/*background full screen for presentation*/
.back::after 
{
  content:"";
  background-image:url('background.png');
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  background-size: cover; 
  opacity: 0.20;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 

}

/*title and decoration for the menu*/
.top /*general div*/
{
	position: fixed;
	width: 100%;
  top:0px;
}
.topPicture /*menu background*/
{
	position: relative;
  background-image: url("purple.PNG"); 
  background-repeat: no-repeat; 
  background-size: 100% 80px;
  width: 100%;
  height: 80px;        
}
.title
{
	position : absolute;
	top : 15px;
	left: 100px;
	color:white;
	font-size: 40px;
}
.language
{
	margin-top : 25px;
	margin-right: 50px;
	font-size: 20px;
}
.language a
{
	color:white;
}

/*navigation bar*/
.menu
{
	position: relative;
	background: black;
  padding-left: 20px;	
  padding-right: 10px;
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.menu li {
  float: left;
  font-size: 20px;
}
.menu li a {
  display: block;
  color: white;
  text-align: center;
  padding-right: 25px;
  padding-left: 5px;
  text-decoration: none;
  border-left-style: solid;
  border-left-color: purple;
}
.menu li a:hover {
  background-color: purple;
}

/*div for presentatio page*/
.presentation
{
  margin-top: 130px;
}
.myPicture /*profile picture*/
{
  width:15%;
  float: left;
  padding:80px 0px 0px 70px;
}
.myPicture img
{
  max-height: 80%;
  max-width:80%;
}
.text
{
  padding-top: 20px;
  padding-left:20px;
  width:50%;
  height: 400px;
  float: left; 
  color:#200000;
  font-size: 18px;
  text-align: justify;
}

/*div for the resume*/
.info
{
  margin-top: 120px;
  margin-left: 35px;
  margin-right: 35px;
}
.info h1
{
  text-transform: uppercase;
  color: purple;
  margin-top: 30px;
  margin-bottom: 0px;
  font-size: 22px;
}
.info h2
{
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
}
.info p
{
  margin-bottom: 5px;
  margin-top: 5px;
}
.info ul
{
  margin-top: 5px;
  margin-bottom: 5px;
}

/*div for all projects*/
.projects
{
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width:75%;
}
.projects h1
{
  color: purple;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 24px;
}
.projects p
{
  margin-top: 10px;
  margin-left: 25px;
}
/*div for each project*/
.project 
{
  margin-top:40px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid purple;
  border-top: 2px solid purple;
  border-radius: 36px;
  background-color: #e4e4e4;
  text-align: justify;
}
.intro /*mini resume of the project*/
{
  width: 50%;
  float:left; 
}
.projectPicture /*capture from the project*/
{
  width: 40%;
  float:left;
  padding-left: 30px;
}

.projectPicture img
{
  height:250px;
  max-width:100%;
}
.project:after {
  content: "";
  display: table;
  clear: both;
}
