/*
    My presentation, resume and projects
    Simon Paquette - Portfolio
    Author: Simon Paquette
    Latest update: 2021/08
*/


/*
** ----------------------------------------------
**                  DOCUMENT
** ----------------------------------------------
*/

/* Remove automatic margin */
body {
    margin: 0;
}

/* Set personal margin */
#presentation, #resume, #projects {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}


/*
** ----------------------------------------------
**                  HEADER
** ----------------------------------------------
*/

/* Set navigation header style */
#navHeader {
    padding: 20px 50px 20px;
    background-image: url("picture/nav.PNG");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
	color:white;
	font-size: 30px;  
}

/* Set button to toggle language between "en" and "fr" */
#toggleLang {
    background: none;
    border: none;
    color: white;
    font-size: 15px;
    line-height: 30px;   
}
#toggleLang:hover {
    font-size: 20px;
}

/* Set menu style for navigation between pages  */
#menu {
    padding-left: 50px;
    padding-right: 50px;
    background: black;
}
#menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    font-size: 20px;
}
#menu li:hover {
    background-color: purple;
}
#menu li a {
    color: white;
    text-decoration: none;
}

/* Set float left style */
.left {
    float: left;
    padding-left: 5px;
    padding-right: 25px;
    border-left-style: solid;
    border-left-color: purple;
}

/* Set float right style */
.right {
    float: right;
    padding-left: 25px;
    padding-right: 5px;
    border-right-style: solid;
    border-right-color: purple;
}

/* Remove possibility to click to navigate to this page */
.disable {
    background-color:#320032;
    pointer-events: none;
}


/*
** ----------------------------------------------
**              PRESENTATION PAGE
** ----------------------------------------------
*/

/* Set background image */
#presentation:before {
    content:"";
    background-image:url('picture/background.png');
    background-size: cover; 
    opacity: 0.15;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; 
}

/* Set profile picture */
#myPicture {
    float: left;
    width: 20%;
    padding-top: 20px;
    padding-left: 50px;
}
#myPicture img {
    width: 70%;
    height: 70%;
    padding: 2px;
    border: 2px solid #320032;
}

/* Set personal description */
.text {
    float: left;
    width: 65%;
    padding-left: 20px;
    color: black;
    font-size: 18px;
    text-align: justify;
}


/*
** ----------------------------------------------
**              RESUME PAGE
** ----------------------------------------------
*/

/* Set text style for overall resume */
#resume h1 {
    margin-top: 30px;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: purple;
    font-size: 22px;
}
#resume h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 20px;
}
#resume p, #resume ul {
    margin-top: 5px;
    margin-bottom: 5px;
}


/*
** ----------------------------------------------
**              PROJECTS PAGE
** ----------------------------------------------
*/

/* Set all projects items into a grid */
#projects {
    display: grid;
}

/* Set project grid style */
.project {
    margin-bottom:40px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    border-top: 2px solid purple;
    border-bottom: 2px solid purple;
    border-radius: 36px;
    background-color: #e4e4e4;
}

/* Display project's description text */
.intro {
    float:left;
    width: 50%;
    padding-left: 25px; 
    padding-right: 25px;
    text-align: justify;
}
.intro h1 {
    margin-top: 0px;
    color: purple;
    font-size: 24px;
}

/* Display project's picture */
.projectPicture {
    display: flex;
    justify-content: center;
    height: 100%;
    max-width: 45%;
}
.projectPicture img {
    margin: auto;
    max-width:100%;
    max-height:250px;
    overflow: auto;
}
